div{
    height: 400px;
    width: 400px;
    background: green;
}
div:hover{
    transform: rotate(45deg);
}
/* div:hover{
    transform: scale(2.5);
} */
/* div:hover{
    transform: skew(75deg);
} */
/* div:hover{
    transform: translate(40px,50px);
} */